<strong>Olá, {{ organizer }}</strong>
<p>Há mais um inscrito em um de seus meetup´s, confira os detalhes abaixo:</p>
<p>
    <strong>Título do Meetup: </strong> {{ title }} <br>
    <strong>Data/hora: </strong> {{ date }} <br><br>
    <strong>Inscrito: </strong> {{ subscribed }} <br>
    <strong>E-mail: </strong> {{ email }} <br>
</p>
